esp8266:esp8266              # ESP8266 board support (NodeMCU, Wemos D1 Mini)
PubSubClient@2.8             # MQTT client library by Nick O'Leary
PZEM-004T v30@0.1.0          # PZEM-004T v3 Modbus library by olehs
